* { /* SELECTOR UNIVERSAL */
    margin: 0;
    padding: 0;
    h1 {
        color: aliceblue;
        font-size: 60px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
/* HEADER MENU*/
header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem 20px; 
    height: 60px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    z-index: 1001; 
    position: sticky; 
    top: 0;
}

#mainMenu {
    display: flex;
    align-items: center;
}

#desktopMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.boton1 {
    text-decoration: none;
    color: aliceblue;
    margin: 5px 10px; 
    background-color: #E8403B;
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
    vertical-align: middle;
}



.boton1:hover {
    background-color: #D63027; 
}

#toggleMenu {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #E8403B; 
    padding: 10px;
    margin-right: 10px;
    display: none; 
}

/* Desplegable y sus botones */

.boton2 {
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    margin: 5px 10px; 
    background-color: #E8403B;
    padding: 10px;
    border-radius: 5px;
    display: block;
    
}

.boton2:hover {
    background-color: #D63027; 
}

.submenu {
    display: none;
    position: absolute;
    background-color: #fff; /* Color de fondo */
    padding: 10px;
    border: 1px solid #ccc; /* Borde */
    z-index: 1; /* Asegura que el menú esté sobre otros elementos */
    
}


#botonDesplegable:hover .submenu {
    display: block;
}


/* MENÚ HAMBURGUESA */
.mobile-nav {
    display: none; 
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
}

.mobile-nav.open {
    display: block;
}

.mobile-nav a {
    display: block;
    padding: 15px 0;
    color: #E8403B;
    text-decoration: none;
    font-size: 18px;
}

.mobile-nav a:hover {
    background-color: #D63027;
    color: #ffffff;
}



/* BODY */
body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
    font-size: 36px;
    margin-bottom: 20px;	
}
p {
    margin-bottom: 20px;
    size: 16px;
}

/* SECCIÓN SLIDER */
#slider {
    background-color: rgba(0, 0, 0, 0.3); 
    background-blend-mode: overlay; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    width: 100%;
    height: 650px;
}

#slider h1 {
    padding-top: 200px;
    color: #ffffff; 
    font-size: 90px;
    text-align: center;
}
#slider p {
    color: #ffffff;
    padding-top: 100px;
    color: #ffffff; 
    font-size: 34px;
    text-align: center;
}
/* SECCIÓN VIDEO + TEXTO */
#background-img {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    width: 100%;
    height: auto;
}
#video-sidetxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.video-container {
    flex: 1; 
}

#video-sidetxt iframe {
    margin-right: 50px; 
    max-width: 50%; 
}

#video-sidetxt div {
    max-width: 50%; 
}

.btn-secondary {
    text-decoration: none;
    color: aliceblue;
    background-color: #E8403B;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    margin-top: 20px; 
    display: inline-block; 
}

.btn-secondary:hover {
    background-color: #D63027; 
}
#video-sidetxt h2 {
    color: #383838;	
}

/* SECCIÓN EXPLORA */
#explora {
    text-align: center;
    background-color: #E8403B;
    padding: 50px 0; 
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#explora .contenedor {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 20px; 
}

#explora h2,
#explora p {
    margin-bottom: 20px;
}
#explora h2 {
    font-size: 36px;
}

#tarjetas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-top: 30px;
}

.tarjeta {
    position: relative;
    flex: 1;
    max-width: calc(33.333% - 5px);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.tarjeta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.tarjeta:hover::before {
    opacity: 0.7; 
}

.tarjeta h3 {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative; 
    z-index: 2; 
}
/* IMÁGENES DENTRO DE LAS TARJETAS */
.tarjeta .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-content {
    position: relative;
    z-index: 1; 
}

.btn {
    background-color: rgba(255, 255, 255, 0.8);
    color: #E8403B;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 1);
}
/* SECCIÓN GALERIA */

.gallery-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

#galeria {
    text-align: center;
    padding: 50px 0;
    color: rgb(56, 56, 56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gallery-header {
    margin-bottom: 20px; 
}

.gallery-images {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.gallery-card {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative; 
}

.gallery-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.gallery-card:hover .gallery-img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

/* MODAL */
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    z-index: 1002; 
  }
  
  .modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
  }
  
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1003; 
    color: #fff;
    font-size: 40px;
  }
  
  

/* SECCIÓN CONTACTO */
#contacto {
    text-align: left;
    padding:200px 0; 
    color:  #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contacto h2 {
    margin-bottom: 20px;
    color: #383838;
    text-align: center;
}

form {
    background-color: #8d0220b7;
    padding: 60px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    color: white;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="date"],
  form textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
  }
  form label.checkbox-label {
    display: inline-block;
    margin-right: 20px; 
  }
  
  form input[type="checkbox"] {
    vertical-align: middle; 
    margin-right: 5px; 
  }
  
  form input[type="submit"] {
    background-color: #E8403B;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #D63027;
  }
/* SOBRE-CATAMARCA TEXTO + FOTO */
#content-wrapper {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 50px; 
    background-color: #fff; 
    border-radius: 10px; 
}

#content-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

#text-column {
    flex: 1; 
    margin-right: 30px; 
    margin-left: 30px;
}

#image-column {
    flex: 1; 
}

#image-column img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
}

/* MAPA*/
#mapa {
    display: flex; /* Utilizamos flexbox para alinear los elementos horizontalmente */
    justify-content: center;
    align-items: center;
    
    
}

#mapaGoogle {
    max-width: 80%; /* Limitamos el ancho máximo del mapa para que no ocupe demasiado espacio */
    margin-right: 5px; /* Agregamos un margen a la derecha del mapa para separarlo de la imagen */
    
}

#mapaImagen {
    
    margin-left: 5px;
    max-width: 25%; /* Limitamos el ancho máximo de la imagen para que no ocupe demasiado espacio */
}


/* FOOTER*/
footer {
    background-color: #8D021F;
    color: #fff;
    padding: 20px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-contacto {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}
.contacto a:hover {
    color: #E8403B; 
}
.contacto h3 {
    margin-bottom: 20px;
    font-size: 22px;
}

.menu, .redes {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: bottom;
}

.redes h3 {
    margin-bottom: 20px;
    font-size: 22px;
}
.redes-img {
    display: flex;
}

.redes-img a {
    margin-right: 10px; 
}
/* ÍCONOS EN EL FOOTER */
.contacto a img,
.menu a img  {
    width: 32px;  
    height: auto; 
    margin-right: 20px; 
    vertical-align: middle; 
}

.redes a img {
    width: 36px;  
    height: auto; 
    margin-right: 20px; 
    vertical-align: middle; 
}

.redes a:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.menu-footer a {
    color: white;          
    text-decoration: none; 
    margin-bottom: 10px;   
    display: block;        
    transition: color 0.3s ease; 
}

.menu-footer a:hover {
    color: #E8403B;        
}

/*////////////////////// INFORMACION ////////////////////// */

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font: arial;
    gap: 10px; /* Espacio entre tarjetas */
    overflow: hidden;
}



#tarjeta-hotel {
    width: calc(20% - 20px); /* Ancho de cada tarjeta (33.33% del ancho del contenedor menos el espacio entre tarjetas) */
    padding: 20px;
    background-color: #E8403B;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 40px;
}

#tarjeta-hotel h3 {

    width: 100%;
    height: 4%; /* El título ocupará el 10% del alto de la tarjeta */
    margin: 0;
    line-height: 1;

}

#tarjeta-hotel:hover {
    background-color:#D63027
}

.descripcion-scroll {
    max-height: 200px; 
    overflow-y: auto; 
}

#informacion {
    font-size: 36px;
    text-align: center;
}

#app{
    /* max-width: 1200px; */
    margin: 0 auto; 
    padding: 50px; 
    background-color: #fff; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
}

#imagen-hotel{
    width: 350px; /* Establece un ancho fijo para todas las imágenes */
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Escala la imagen para cubrir todo el contenedor manteniendo su relación de aspecto */
    overflow: hidden;
}



#app img{
    width: 100%;

}
.cuerpo{
    margin: 10px;
}


/*////////////////////// MEDIA QUERIES ////////////////////// */
/* PARA NOTEBOOKS */
@media (min-width: 1025px) {
    #menu {
        width: 100%;
        justify-content: flex-start;
    }

    #menu img {
        margin-left: 20px;
    }

    #boton1 {
        margin: 5px 15px; 
    }
}

/* PARA TABLETS */
@media (max-width: 1024px) {
    #menu {
        justify-content: center;
    }

    #menu img {
        margin-left: 10px;
    }

    #boton1 {
        margin: 5px 10px; 
    }
    footer .footer-grid {
        grid-template-columns: repeat(2, 1fr);
      }
      .logo-contacto {
        grid-column: span 2;
      }
      #video-sidetxt {
        flex-direction: column; 
        padding: 30px; 
    }

    #video-sidetxt iframe,
    #video-sidetxt div {
        max-width: 100%; 
        margin-right: 0; 
    }

    .btn-secondary {
        margin-top: 10px; 
    }
    #slider {
        height: 500px; 
    }

    #slider h1 {
        font-size: 60px; 
        padding-top: 150px; 
    }
}

/* PARA CELULARES */
@media (max-width: 767px) {
    #menu {
        flex-direction: column; 
        align-items: flex-end;  
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh; 
        background-color: rgba(255, 255, 255, 0.9);
        transform: translateY(-100%); 
        transition: transform 0.3s ease-in-out; 
    }
    mobile-nav.open {
        transform: translateY(0); 
    }

    #menu.open {
        transform: translateY(0); 
    }

    #menu img {
        display: none; 
    }

    #boton1 {
        margin: 5px 10px;
        display: block; 
    }

    #toggleMenu {
        display: block;
    }
    #desktopMenu {
        display: none;
    }
    #toggleMenu {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #E8403B; 
        padding: 10px;
        margin-right: 20px; 
        position: absolute; 
        top: 15px; 
        right: 20px; 
        display: block; 
    }

    footer .footer-grid {
        grid-template-columns: repeat(1, 1fr); 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
      }
      .redes {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .redes a img {
        margin-right: 20px; 
        width: 36px; 
        height: auto; 
    }
      .logo-contacto {
        grid-column: span 1;
      }
      #video-sidetxt {
        padding: 20px; 
    }
    #slider {
        height: 400px; 
    }

    #slider h1 {
        font-size: 40px; 
        padding-top: 100px; 
    }

    #contacto {
        flex-direction: column;
      }
      
      /* CENTRAR EL TÍTULO */
      #contacto h3 {
        text-align: center;
      }
      #content-wrapper {
        padding: 20px; 
    }

    #content-container {
        flex-direction: column; 
        align-items: center; 
    }

    #text-column {
        margin: 0; 
        margin-bottom: 20px; 
    }

    #image-column {
        margin: 0; 
    }
    .gallery-card {
        flex: 0 0 calc(50% - 20px); 
    }

}
